.parkManager {
    background: var(--color-background);
    padding: 20px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: auto;
}

.parkManager > .carpark {
    margin: 5px;
    display: inline-block;
    flex-grow: 1;
    width: 20%;
    min-width: 200px;
    background: var(--color-background-light);
    color: white;
}

.parkManager > .carpark > .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
}

.parkManager > .carpark > .stats > .large-stat{
    flex: 0 0 90%;
    padding: 10px;
    background: var(--color-front-bg);
}

.parkManager > .carpark > .stats > .large-stat.loader-stat{
    background: var(--color-loader-grey);
    position: relative;
    padding: 20px 10px;
}

.parkManager > .carpark > .stats > .large-stat.loader-stat::after{
    content: attr(data-target);
    display: inline-block;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(100% *  var(--preferred-width));
    background: var(--preferred-colour);
    color: white;
    
    
    display: flex;
    flex-wrap: nowrap;
    text-align: right;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

.parkManager > .carpark > .stats > .small-stat {
    padding: 0;
    padding-top: 5px;
    text-align: center;
    background: var(--color-front-bg);
    padding: 5px;
    padding-bottom: 0;
    flex: 0 0 26%;
}

.parkManager > .carpark > .stats > .small-stat > span {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: var(--color-front-fg);
    padding: 15px 5px;
    margin-left: -5px;
    margin-top: 5px;
}

.parkManager > .carpark > h1 {
    margin: 0;
    padding: 10px;
    background: var(--color-front-bg);
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 3em;
    line-height: 1em;

    position: relative;
}

.parkManager > .carpark > h1 > span {
    display: inline-block;
    cursor:pointer;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    margin-right: -10px;
    top: 25%;
    background: var(--color-front-fg);
    text-align: center;
    
}

.parkManager > .carpark > h1 > span:hover {
    background: color-mix(in srgb, var(--color-front-bg) 90%, white);
}